@charset 'utf-8';

@import url('reset.css');

/** Common **/
#leaf {
    margin: 1em;
    width: 750px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

/** Typography **/
#leaf {
    font-family: sans-serif;
    font-size: 15px;
}
#leaf h1 {
    font-size: 2em;
    font-weight: bold;
}

/** Layout **/
#leaf h1 {
    margin: 0.5em 0;
}
#leaf .page-info {
    margin: 0.5em 0;
}
#leaf .post-list {
    width: 100%;
}
#leaf .pagination {
    margin: 0.5em 0;
}
#leaf .buttons {
    margin: 0.5em 0;
}

/** Modules **/
#leaf .post-list th, 
#leaf .post-list td {
    vertical-align: middle;
}
/* post list thead */
#leaf .post-list thead tr {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 35px;
}
/* post list tbody */
#leaf .post-list tbody tr {
    height: 35px;
    border-bottom: 1px solid #dfdfdf;
}
#leaf .post-list tbody td.no {
    text-align: center;
}
#leaf .post-list tbody td.title {
}
#leaf .post-list tbody td.posted-by {
    text-align: center;
}
#leaf .post-list tbody td.date {
    text-align: center;
}
#leaf .post-list tbody td.views {
    text-align: center;
}
/* buttons */
.btn {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 0.35em 1.0em;
    color: #000;
    text-decoration: none;
}

/** Specifics **/
