@charset 'utf-8';

@import url('reset.css');

/** Common **/
    #leaf {
        padding: 1rem;
        /*width: 750px;*/
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        margin: -1px;
        border: 0;
        clip: rect(0, 0, 0, 0);
    }

/** Typography **/
    #leaf {
        font-family: sans-serif;
        font-size: 15px;
    }
    #leaf h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    #leaf a {
        color: #333;
        text-decoration: none;
    }
    #leaf a:hover {
        color: #0969da;
        text-decoration: underline;
    }

/** Layout **/
    #leaf h1 {
        margin: 0.5rem 0;
    }
    #leaf .page-info {
        margin: 0.5rem 0;
    }
    #leaf .post-list {
        width: 100%;
        margin: 1.5rem 0;
    }
    #leaf .pagination {
        margin: 1.5rem 0;
    }
    #leaf .buttons {
        margin: 1.5rem 0;
    }

    #leaf .prevnext-posts {
        margin: 1.5rem 0;
    }

    #leaf .thread {
        margin: 1.5rem 0;
    }

/** Modules **/
    /* post list */
        #leaf .post-list {
            border-top: 1px solid #dfdfdf;
        }
        #leaf .post-list th, 
        #leaf .post-list td {
            vertical-align: middle;
        }
        #leaf .post-list thead tr {
            border-bottom: 1px solid #dfdfdf;
            height: 35px;
        }
        #leaf .post-list tbody tr {
            height: 35px;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf .post-list tbody td.no {
            text-align: center;
            font-size: 0.9rem;
            width: 80px;
        }
        #leaf .post-list tbody td.title .reply {
            padding-left: 16px;
            background: transparent url('images/arrow-return-right.svg') no-repeat 0 50%;
            background-size: 12px;
        }
        #leaf .post-list tbody td.posted-by {
            text-align: center;
            width: 120px;
        }
        #leaf .post-list tbody td.date {
            text-align: center;
            font-size: 0.9rem;
            width: 150px;
        }
        #leaf .post-list tbody td.views {
            text-align: center;
            font-size: 0.9rem;
            width: 110px;
        }
    @media screen and (max-width: 567px) {
        #leaf .post-list thead {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: -1px;
            border: 0;
            clip: rect(0, 0, 0, 0);
        }
        #leaf .post-list tbody tr {
            display: block;
            padding: 0.45rem;
            text-align: right;
        }
        #leaf .post-list .no {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: -1px;
            border: 0;
            clip: rect(0, 0, 0, 0);
        }

        #leaf .post-list .title {
            display: block;
            text-align: left;
            line-height: 1.3rem;
        }
        #leaf .post-list tbody td.posted-by, 
        #leaf .post-list tbody td.date, 
        #leaf .post-list tbody td.views {
            display: inline-block;
            width: auto;
        }
        #leaf .post-list tbody td.posted-by {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/person.svg') no-repeat 0 50%;
            background-size: 15px;
            font-size: 0.85rem;
        }
        #leaf .post-list tbody td.date {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/calendar-minus.svg') no-repeat 0 50%;
            background-size: 13px;
            font-size: 0.85rem;
        }
        #leaf .post-list tbody td.views {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/eye.svg') no-repeat 0 50%;
            background-size: 14px;
            font-size: 0.85rem;
        }
    }
    @media screen and (min-width: 568px) and (max-width: 768px) {
    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {
    }

    /* pagination */
        #leaf .pagination {
            text-align: center;
            font-size: 0;
        }
        #leaf .pagination a {
            display: inline-block;
            padding: 0.25rem 0.60rem;
            border: 1px solid #dee2e6;
            border-right: 0 none;
            line-height: 27px;
            font-size: 15px;
        }
        #leaf .pagination a:hover {
            text-decoration: none;
            background-color: #eeeeee;
        }
        #leaf .pagination a:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        #leaf .pagination a:last-child {
            border-right: 1px solid #dee2e6;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    /* post view */
        #leaf h2 {
            font-size: 1.2rem;
            padding: 0 0.6rem;
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            background-color: #f7f7f7;
            line-height: 35px;
        }
        #leaf.page-view dt {
            display: inline-block;
        }
        #leaf.page-view dt::after {
            content: ': ';
        }
        #leaf.page-view dd {
            display: inline-block;
            margin-right: 1rem;
        }
        #leaf.page-view dl {
            padding: 0 0.5rem;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf.page-view dt, 
        #leaf.page-view dd {
            line-height: 35px;
        }
        #leaf article .title {
            font-size: 1.03rem;
            font-weight: bold;
            line-height: 35px;
        }
        #leaf.page-view article {
            padding: 0.6rem;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf.page-view article p {
            margin: 0.5rem 0;
        }
    @media screen and (max-width: 567px) {
        #leaf.page-view dt {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: -1px;
            border: 0;
            clip: rect(0, 0, 0, 0);
        }
        #leaf.page-view dd.posted-by {
            padding-left: 1rem;
            background: transparent url('images/person.svg') no-repeat 0 50%;
            background-size: 15px;
            font-size: 0.85rem;
        }
        #leaf.page-view dd.email {
            padding-left: 1rem;
            background: transparent url('images/envelope.svg') no-repeat 0 50%;
            background-size: 14px;
            font-size: 0.85rem;
        }
        #leaf.page-view dd.date-time {
            padding-left: 1rem;
            background: transparent url('images/calendar-minus.svg') no-repeat 0 calc(50% - 1px);
            background-size: 13px;
            font-size: 0.85rem;
        }
        #leaf.page-view dd.views {
            padding-left: 1rem;
            background: transparent url('images/eye.svg') no-repeat 0 50%;
            background-size: 14px;
            font-size: 0.85rem;
        }
    }
    @media screen and (min-width: 568px) and (max-width: 768px) {
    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {
    }

    /* prevnext-posts */
        #leaf .prevnext-posts .list {
            width: 100%;
            border-top: 1px solid #dfdfdf;
        }
        #leaf .prevnext-posts tr {
            height: 35px;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf .prevnext-posts th {
            width: 60px;
            text-align: center;
            vertical-align: middle;
        }
        #leaf .prevnext-posts td {
            vertical-align: middle;
        }
        #leaf .prevnext-posts .name {
            width: 105px;
            text-align: center;
        }
    @media screen and (max-width: 567px) {
        #leaf .prevnext-posts th {
            width: 50px;
            font-size: 0.85rem;
        }
        #leaf .prevnext-posts .name {
            width: 95px;
            font-size: 0.85rem;
        }
    }
    @media screen and (min-width: 568px) and (max-width: 768px) {
    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {
    }

    /* thread */
        #leaf .thread .list {
            width: 100%;
            border-top: 1px solid #dfdfdf;
        }
        #leaf .thread tr {
            height: 35px;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf .thread th, 
        #leaf .thread td {
            text-align: center;
            vertical-align: middle;
        }
        #leaf .thread .no {
            width: 80px;
            text-align: center;
            vertical-align: middle;
        }
        #leaf .thread .title {
            text-align: left;
        }
        #leaf .thread .title .reply {
            padding-left: 16px;
            background: transparent url('images/arrow-return-right.svg') no-repeat 0 50%;
            background-size: 12px;
        }
        #leaf .thread .posted-by {
            width: 120px;
        }
        #leaf .thread .date {
            width: 150px;
        }
        #leaf .thread .views {
            width: 110px;
        }
    @media screen and (max-width: 567px) {
        #leaf .thread thead {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: -1px;
            border: 0;
            clip: rect(0, 0, 0, 0);
        }
        #leaf .thread tbody tr {
            display: block;
            padding: 0.45rem;
            text-align: right;
        }
        #leaf .thread .no {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: -1px;
            border: 0;
            clip: rect(0, 0, 0, 0);
        }
        #leaf .thread .title {
            display: block;
            text-align: left;
            line-height: 1.3rem;
        }
        #leaf .thread tbody td.posted-by, 
        #leaf .thread tbody td.date, 
        #leaf .thread tbody td.views {
            display: inline-block;
            width: auto;
        }
        #leaf .thread tbody td.posted-by {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/person.svg') no-repeat 0 50%;
            background-size: 15px;
            font-size: 0.85rem;
        }
        #leaf .thread tbody td.date {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/calendar-minus.svg') no-repeat 0 50%;
            background-size: 13px;
            font-size: 0.85rem;
        }
        #leaf .thread tbody td.views {
            margin-right: 0.45rem;
            padding-left: 1rem;
            background: transparent url('images/eye.svg') no-repeat 0 50%;
            background-size: 14px;
            font-size: 0.85rem;
        }
    }
    @media screen and (min-width: 568px) and (max-width: 768px) {
    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {
    }

    /* buttons */
        #leaf .btn {
            display: inline-block;
            background-color: #f7f7f7;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            padding: 0rem 1.0rem;
            line-height: 30px;
            color: #000;
            text-decoration: none;
            vertical-align: middle;
        }
        #leaf button.btn {
            font-size: 15px;
        }
        #leaf .btn:hover {
            background-color: #e2e6ea;
            border: 1px solid #dae0e5;
            color: #000;
            text-decoration: none;
        }
    @media screen and (max-width: 567px) {
        #leaf .btn {
            padding: 0 0.45rem;
            line-height: 28px;
            font-size: 14px;
        }
        #leaf button.btn {
            font-size: 14px;
        }
    }
    @media screen and (min-width: 568px) and (max-width: 768px) {
    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {
    }

    /* input fields */
        #leaf input[type=text], 
        #leaf input[type=password], 
        #leaf textarea {
            margin: 0.25rem 0;
            padding: 0.25rem;
            border: 1px solid #d0d7de;
            border-radius: 4px;
        }
        #leaf input[type=text], 
        #leaf input[type=password] {
            width: 17rem;
        }
        #leaf textarea {
            width: calc(100% - 1rem);
            height: 10rem;
            resize: vertical;
        }

    /* compose, edit, reply form */
        #leaf dl {
            padding: 0.5rem;
            border-bottom: 1px solid #dfdfdf;
        }
        #leaf form dd {
            margin-bottom: 0.5rem;
        }
        #leaf form dd:last-child {
            margin-bottom: 0;
        }
        #leaf .warning {
            color: #aa0000;
        }
        #leaf small {
            font-size: 0.73rem;
        }

/** Specifics **/
